*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* padding: 2em; */
    font-family: europaRegular;
}

/* -----------------------------------NAVBAR---------------------------------------------- */

.navbar {
    /* background-image: url("../images/blueBanner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */

    width: 100%;
    display: table;
    /* padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%; */
}

.nav-left {
    width: 5%;
    background-color: rgb(255, 208, 2);
    /* float: left; */
    display: table-cell;
}

.nav-right {
    width: 95%;
    background: linear-gradient(
        90deg,
        rgba(40, 115, 172, 1) 0%,
        rgba(0, 59, 91, 1) 59%
    );
    /* float: left; */
    display: table-cell;
    vertical-align: middle;
    padding: 1em 1rem;
    color: rgb(255, 208, 2);
    overflow: hidden;
}

.nav-header {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.nav-header h1 {
    /* margin-right: 2em; */
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    padding-left: 0.5em;
    letter-spacing: 0.05em;
}

.header-right {
    float: right;
    margin-top: -5%;
    /* padding: 2em; */
    margin-right: -19em;
}

.auth-buttons__yellow {
    /* margin: 0.5em; */
    /* padding: 0.5em; */
    width: 100px;
    color: rgb(255, 208, 2);
    background-color: Transparent;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.auth-buttons__yellow a {
    text-decoration: none;
    color: rgb(255, 208, 2);
}

.auth-buttons__yellow:hover,
.auth-buttons__yellow:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.divider {
    font-size: 1.15em;
}

/* -----------------------------------search bar---------------------------------------------- */

.header-search-bar {
    padding-bottom: 3em;
    margin-top: -5em;
}

.searchbar button {
    width: 7em;
    height: 50px;
    border: none;
    border: solid 3px rgb(255, 208, 2);
    border-radius: 5px;
    background: Transparent;
    font-size: 25px;
    /* background-color: Transparent;
    border: 1px rgb(255, 208, 2); */
    color: rgb(255, 208, 2);
    margin-left: 0.5em;
}

.search-icon {
    width: 15%;
    float: left;
    margin-left: 0.5em;
}
/* -----------------------------------social media buttons---------------------------------------------- */
.social-media-buttons {
    /* display: flex;
    justify-content: space-between; */
    /* margin-right: 20em; */
}
.smb-yellow {
    width: 12%;
    padding: 0 1em;
    transition: all 0.5s ease;
}

.smb-yellow:hover,
.smb-yellow:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

/* -----------------------------------END social media buttons---------------------------------------------- */

/* -------------------------POP UP---------------------------- */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup__content {
    width: 50%;
    height: 40rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    border-radius: 3px;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__close:link,
.popup__close:visited {
    color: #013b5a;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2.5em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    line-height: 1;
}

.popup__close:hover {
    color: #3d99ca;
    font-size: 3em;
    transition: all 0.3s;
    text-shadow: 2px 2px 4px grey;
}

.popup__left {
    height: 100%;
    width: 33.33%;
    /* background-color: #013b5a; */
    background: linear-gradient(
        90deg,
        rgba(40, 115, 172, 1) 0%,
        rgba(0, 59, 91, 1) 95%
    );
    /* float: left; */
    display: table-cell;
}

.popup__right {
    width: 66.66%;
    /* float: right; */
    display: table-cell;
    vertical-align: middle;
    padding: 2em 4rem;
}

/* --------------------END POP UP------------------------- */

/* -----------------------------------END NAVBAR---------------------------------------------- */

/* -----------------------------------START HOME---------------------------------------------- */

/* -------------------START image/link carousel------------- */

.carousel-top {
    width: 100%;
    height: 30vh;
    margin: 0 0 2em 0;

    /* display: flex; */

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: -2em;
}

.slick-prev {
    margin-left: 60px;
    z-index: 1020;
}

.slick-next {
    margin-right: 60px;
    z-index: 1021;
}

.slick-prev:before,
.slick-next:before {
    color: grey !important;
    font-size: 30px !important;
}

.carousel-wrapper {
    position: relative;
    width: 80%;
    /* padding: 0 1em; */
    box-sizing: border-box;
    margin-top: -2em;
    margin-bottom: -2em;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper:active,
.carousel-wrapper:hover,
.carousel-wrapper:focus {
    outline: none;
    border: none;
}

.box {
    /* width: 25%; */
    /* height: 90%; */
    /* background-color: #fff; */
    /* border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5); */

    /* box-sizing: border-box; */
    margin: 1.5em 0.75em;
}

.slick-slider ul {
    list-style: none;
}

.slick-slider a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.model {
    height: 65%;
}

.box img {
    /* margin-bottom: -3em; */
    margin-top: 1.5em;
}

.box h2 {
    /* margin: 0 1em 1em 1em; */
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* -------------------END image/link carousel------------- */
/* -------------------START features---------------------- */
.features {
    width: 100%;
    height: 50vh;
    margin-top: 2.5em;
    margin-bottom: 2em;
    border-top: 2px solid black;
    /* padding-bottom: -2em; */
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.features h1 {
    width: 26%;
    margin-left: 37%;
    margin-left: 37%;
    margin-top: -18px;
    background: white;
}

.feature-wrapper {
    /* display: grid;
    grid-template-columns: 200px 50px 400px 50px 200px;
    grid-template-rows: auto;
    grid-template-areas: "small-square . middle-square . small-square"; */
    margin-top: 2em;
    height: 75%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.small-square {
    /* margin-top: 6em; */
    width: 25%;
    height: 100%;
    /* background-color: coral; */
}

.small-square img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.middle-square {
    /* margin-top: 6em; */
    width: 35%;
    height: 100%;
    /* background-color: darkblue; */
}

.middle-square img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

/* --------------------END features---------------------- */
/* -------------------START newsmakers roundup/transactions & transitions---------------------- */

.newsmakers-transactions {
    display: flex;
    justify-content: space-between;
}

.nm-carousel,
.transactions-carousel {
    width: 48%;
    height: 40vh;
    margin: 0 0 2em 0;

    /* display: flex; */

    border-top: 2px solid black;
    /* padding-bottom: -2em; */
    text-align: center;
    /* float: left; */
}

.nm-carousel h1,
.transactions-carousel h1 {
    width: 40%;
    margin-left: 30%;
    margin-left: 30%;
    margin-top: -13px;
    background: white;
    font-size: 1em;
}

/* -------------------END newsmakers roundup/transactions & transitions---------------------- */
/* -------------------START this issue---------------------- */

.ti-carousel {
    width: 100%;
    height: 40vh;
    margin: 0 0 2em 0;

    /* display: flex; */

    border-top: 2px solid black;
    /* padding-bottom: -2em; */
    text-align: center;
}

.ti-carousel h1 {
    width: 12%;
    margin-left: 44%;
    margin-left: 44%;
    margin-top: -18px;
    background: white;
}

.ti-carousel-wrapper {
    position: relative;
    width: 80%;
    box-sizing: border-box;
    margin-top: -2em;
    /* margin-bottom: -2em; */
    justify-content: center;
    align-items: center;
}

.ti-carousel-wrapper:active,
.ti-carousel-wrapper:hover,
.ti-carousel-wrapper:focus {
    outline: none;
    border: none;
}
.circular-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1em;
    margin-bottom: 1em;
}

/* -------------------END this issue---------------------- */
/* -------------------START HOME/ LINKS BAR----------------- */

.linksBar {
    padding: 2%;
    text-align: justify;
    font-size: 0.75em;
}

.linksBar a {
    color: black;
    text-decoration: none;
    padding-right: 2%;
    text-align: justify;
}

.linksBar a:hover {
    text-decoration: underline;
}

.home-container {
    /* background-color: tomato; */
}

.home-1 {
    /* background-color: thistle;
    height: 30vh; */
}
/* -----------------------------------END HOME/ LINKS BAR----------------------------------- */

/* -----------------------------------END HOME---------------------------------------------- */

/* -----------------------------------Contact Us---------------------------------------------- */

.contact_us h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
}

.contact_us p {
    font-size: 2vw;
    padding: 2%;
}

.blackLine {
    border-bottom: 0.5px black;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* -----------------------------------END Contact Us---------------------------------------------- */

/* -----------------------------------AD SPACE---------------------------------------------- */

.main-bottom-ads {
    /* background-color: darkcyan; */
    width: 90%;
    /* height: 30vh; */
    /* margin-top: -0.25em; */
    margin-left: 6.75%;
    margin-bottom: 0.5em;
    /* margin-left: 8em; */
    display: inline-block;
}

.ad-image1 {
    width: 45%;
    height: 200px;
    margin: 1em;
    /* background-color: yellow; */
    object-fit: cover;
}

/* .ad-image2 {
    width: 45%;
    height: 100%;
    margin: 1em;
    background-color: thistle;
    z-index: 1002;
} */

/* .ad-one {
    width: 50%;
    height: 5vh;
    background-color: yellow;
    float: left;
}

.ad-two {
    width: 50%;
    height: 5vh;
    background-color: thistle;
    float: right;
} */

/* -----------------------------------END AD SPACE---------------------------------------------- */

/* -----------------------------------FOOTER---------------------------------------------- */

.footer-main {
    /* margin: 0 auto; */
    border: none;
    border-top: solid 3px black;
    /* height: 15vh; */
    width: 90%;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: 6em;
    /* position: absolute;
    bottom: 6em;
    left: 5%; */
}

.footer-links {
    /* background-color: blueviolet; */
}

.footer-social-media-links {
    /* background-color: cornflowerblue; */
    position: relative;
}

.second-row-social-media {
    margin-top: 2em;
    margin-bottom: 1em;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 55%;

    transform: translate(-50%, -50%);
}

.smb-black {
    width: 20%;
    padding: 0 1em;
    transition: all 0.5s ease;
}

.smb-black:hover,
.smb-black:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

@media screen and (min-width: 700px) {
    .footer-sections {
        display: flex;
    }
}

.footer {
    grid-column: full-start / full-end;
    /* padding: 1rem; */
    flex: 6;
    color: black;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.nav__link:link,
.nav__link:visited {
    /* margin-top: 4rem; */
    margin-right: 2rem;
    margin-top: 1em;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    display: block;
}

.nav__link:hover,
.nav__link:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    border-radius: 0.25em;
}

.social-media-logo {
    width: 4%;
    margin: 0.5em;
    float: left;
}

.social-logos {
    margin-top: 1em;
    margin-left: 5.5em;
    margin-bottom: -2.5em;
}

@media screen and (max-width: 630px) {
    .social-media-logo {
        width: 10%;
        margin: 0.5em;
        float: right;
    }
    .social-logos {
        margin-top: -4em;
        margin-right: 3.5em;
        /* margin-left: 5.5em; */
    }
}

.social-media-logo:hover,
.social-media-logo:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}

/* -----------------------------------END FOOTER---------------------------------------------- */

@font-face {
    font-family: europaRegular;
    src: url("../fonts/EuropaRegular.ttf") format("truetype");
}
