@media (min-width: 43.75em) {
    /* 700 */
}

@media (min-width: 62em) {
    /* 992 */
}

@media (min-width: 100em) {
    /* 1392 */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* padding: 2em; */
    font-family: europaRegular;
    max-width: 80em;
    margin: auto;
}

@media (min-width: 55em) {
    body {
        padding: 5%;
        padding-top: 4%;
    }
}

@media (min-width: 80em) {
    body {
        padding: 0;
        padding-top: 4%;
    }
}

.hidden {
    display: none;
}

/* -----------------------------------NAVBAR---------------------------------------------- */

.navbar {
    width: 100%;
    display: table;
    
}

.nav-left {
    width: 10%;
    background-color: rgb(255, 208, 2);
    /* float: left; */
    display: table-cell;
}

.nav-right {
    width: 90%;
    background: linear-gradient(
        90deg,
        rgba(40, 115, 172, 1) 0%,
        rgba(0, 59, 91, 1) 59%
    );
    display: table-cell;
    /* vertical-align: middle; */
    padding: 0em 0rem;
    color: rgb(255, 208, 2);
    overflow: hidden;
}

.nav-header {
    font-size: 1em;
    text-transform: uppercase;
    vertical-align: bottom;
}

.nav-header h1 {
    color: rgb(255, 208, 2);
    padding-left: 0.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    width: auto;
}

.nav-header a {
    text-decoration: none;
}

.social-media-buttons {
    /* margin-left: 3.5em; */
    margin-left: 0;
}

.header-login-signup {
    /* margin-left: 2.75em; */
    margin-left: 0em;
}

.auth-buttons__yellow {
    /* margin: 0.5em; */
    /* padding: 0.5em; */
    width: 100px;
    color: rgb(255, 208, 2);
    background-color: Transparent;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.auth-buttons__yellow a {
    text-decoration: none;
    color: rgb(255, 208, 2);
}

.auth-buttons__yellow:hover,
.auth-buttons__yellow:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.matchingPasswords {
    text-decoration: none;
    /* font-size: 1.5vw; */
    /* color: rgb(0, 59, 91); */
    transition: all 0.5s ease;
    /* margin: 1em; */
}

.divider {
    font-size: 1.2em;
    color: rgb(255, 208, 2);
    text-align: center;
}

/* @media (min-width: 43.75em) {
    .nav-header {
        font-size: 1.25em;
    }

    .header-right {

        margin-top: 0em;
        margin-right: -21em;
    }

    .social-media-buttons {
        margin-left: 0;
    }

    .header-login-signup {
        margin-left: 0;
    }
} */

@media (min-width: 62em) {
    .navbar {
        height: 20vh;
        vertical-align: bottom;
    }
    .nav-left {
        width: 5%;
        
    }

    .nav-right {
        width: 95%;
        vertical-align: middle;
       
    }

    .nav-content{
        display: grid;
        height: 15vh;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        
    }

    .nav-header {
        vertical-align: middle;
        padding-top: .75em;
    }

    .header-login-signup {
        margin-left: 0;
        position: absolute;
        bottom: 1em;
        right: 0;
        
    }

    .nav-header h1 {
        margin-bottom: -0.2em;
        padding-left: 0.5em;
        font-size: 3.5em;
    }

    .header-right {
        /* float: right; */
        margin-top: 0em;
        text-align: right;
        vertical-align: middle;
        margin-right: 2em;
        position: relative;
    }

    .auth2-buttons {
        padding-top: 0.5em;
        /* margin-left: -1.75em; */
    }

    .auth-buttons__yellow {
        /* margin: 0.5em; */
        /* padding: 0.5em; */
        width: 100px;
        font-size: 1.2em;
    }

    .divider {
        font-size: 1.2em;
        text-align: center;
    }
}


/* -----------------------------------search bar---------------------------------------------- */
.header-search-bar {
    /* margin-top: 1em; */
    /* margin-left: 3.75em; */
}

.searchbarinput {
    background-color: rgb(0, 59, 91, 0.1);
    font-family: "Helvetica", FontAwesome, sans-serif;
    border: 3px solid rgb(255, 208, 2);
    border-radius: 4px;
    color: white;
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.searchbarinput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 208, 2);
    font-size: 1.5em;
}

.search-icon {
    width: 15%;
    float: left;
    margin-left: 0.5em;
}

.searchPage {
    margin-top: 3em;
    margin-left: 40%;
}

.searchImage {
    width: 20%;
}

/* @media (min-width: 43.75em) {
    .header-search-bar {
        width: 11em;
        padding-bottom: 2em;
        margin-top: -5em;
    }
} */

@media (min-width: 62em) {
    .header-search-bar {
        padding-bottom: 2.5em;
        margin-top: 0em;
        /* margin-left: 0em; */
        /* margin-right: 20em; */
    }
}



/* -----------------------------------social media buttons---------------------------------------------- */

.smb-yellow {
    width: 25%;
    padding: 1em 1em 0 1em;
    transition: all 0.5s ease;
}

.smb-yellow:hover,
.smb-yellow:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

@media (min-width: 43.75em) {
    .smb-yellow {
        width: 13%;
        padding: 0 1em;
    }
}

@media (min-width: 62em) {
    .smb-yellow {
        width: 12%;
        margin-top: 0em;
    }
}



/* -----------------------------------END social media buttons---------------------------------------------- */

/* -------------------------POP UP---------------------------- */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup__content {
    width: 30em;
    height: 16rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    border-radius: 3px;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__close:link,
.popup__close:visited {
    color: #013b5a;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2.5em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    line-height: 1;
}

.popup__close:hover {
    color: #3d99ca;
    font-size: 3em;
    transition: all 0.3s;
    text-shadow: 2px 2px 4px grey;
}

.popup__left {
    visibility: hidden;
    display: none;
}

.leftpopupleft {
}

.popup__right {
    width: 40%;
    /* float: right; */
    display: table-cell;
    vertical-align: middle;
    padding: 2em 4rem;
    text-transform: uppercase;
}

.popup__right button {
    background-color: rgba(40, 115, 172, 1);
    color: rgb(255, 208, 2);
    padding: 0.5em 1em;
    margin-top: 1em;
    text-transform: uppercase;
}

.popup__right label {
    font-size: 0.3em;
}

.popup__right h1 {
    font-size: 1.25em;
    color: rgba(0, 59, 91, 1);
}

.popup__right h3 {
    font-size: 0.75em;
}

.popup__right label {
    font-size: 0.75em;
}

@media (min-width: 43.75em) {
    .popup__content {
        width: 40em;
        height: 13rem;
        top: 40%;
        left: 50%;
    }

    .popup__left {
        height: 100%;
        width: 35%;
        font-size: 1em;
        visibility: visible;
        display: content;

        height: 100%;
        background: linear-gradient(
            90deg,
            rgba(40, 115, 172, 1) 0%,
            rgba(0, 59, 91, 1) 95%
        );
        display: table-cell;
        color: rgb(255, 208, 2);
        text-transform: uppercase;
        font-weight: 100;
        padding-left: 0.5em;
        vertical-align: middle;
    }

    .leftpopupleft {
        width: 5%;
        height: 100%;
        background-color: rgb(255, 208, 2);
        display: table-cell;
    }

    .popup__right {
        width: 60%;
        vertical-align: middle;
        padding: 2em 4rem;
    }

    .popup__right h1 {
        font-size: 1.5em;
        color: rgba(0, 59, 91, 1);
    }

    .popup__right h3 {
        font-size: 0.75em;
    }

    .popup__right label {
        font-size: 0.75em;
    }
}

@media (min-width: 62em) {
    .popup__content {
        width: auto;
        height: 15rem;
        top: 50%;
    }

    .popup__left {
        height: 100%;
        width: 40%;

        font-size: 1.5em;
        padding-left: 0.5em;
        padding-top: 3.5%;
    }

    .leftpopupleft {
        width: 5%;
        height: 100%;
    }

    .popup__right {
        width: 60%;
        vertical-align: middle;
        padding: 2em 4rem;
    }
    .popup__right h1 {
        font-size: 2em;
        padding-bottom: 0.25em;
    }

    .popup__right h3 {
        font-size: 1.25em;
    }

    .popup__right label {
        font-size: 1em;
    }
    .popup__right input {
        font-size: 1.25em;
        margin-left: 1em;
        margin-top: 0.5em;
    }
}



/* --------------------END POP UP------------------------- */

/* -----------------------------------END NAVBAR---------------------------------------------- */

/* -----------------------------------START HOME---------------------------------------------- */

.home-container{
    margin-top: 1em;
}

/* -------------------START HOME/ LINKS BAR----------------- */

.linksBar-container {
    visibility: hidden;
    display: none;
}

@media (min-width: 66em) {
    .linksBar-container {
        visibility: visible;
        display: contents;
        /* padding: 2%; */
        text-align: justify;
        font-size: .63vw;
        color: black;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 1em;
    }

    .linksBar-links {
        margin-bottom: 2em;
        
    }


    .linksBar-container a {
        color: black;
        text-decoration: none;
        text-align: justify;
        padding: 0;
       
    

    }

    .linksBar-container a:hover{
        text-decoration: underline;
    }
}


/* -------------------END HOME/ LINKS BAR------------------- */

/* -------------------START image/link carousel------------- */

.carousel-top {
    width: 100%;
    margin: 0 0 4em 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.slick-prev {
    margin-left: 40px;
    z-index: 1020;
}

.slick-next {
    margin-right: 40px;
    z-index: 1021;
}

.slick-prev:before,
.slick-next:before {
    color: grey !important;
    font-size: 30px !important;
}

.carousel-wrapper {
    position: relative;
    margin-top: -2em;
    margin-bottom: -2em;
}

.carousel-wrapper:active,
.carousel-wrapper:hover,
.carousel-wrapper:focus {
    outline: none;
    border: none;
}

.slick-slider ul {
    list-style: none;
}

.crsltop {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    /* width: 170%; */
    height: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: -5em;
    margin-left: -5em;
    /* outline: 0; */
}

.model {
    /* margin-top: 1em; */
    height: 30%;
}

.box h2 {
    font-size: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.top-carousel-model {
    width: 35%;
}

@media (min-width: 43.75em) {
    .crsltop {
        margin-top: 2.25em;
        margin-bottom: 2.5em;
    }

    .box h2 {
        font-size: 1em;
    }
}

@media (min-width: 62em) {
    .slick-prev {
        margin-left: 60px;
        z-index: 1020;
    }

    .slick-next {
        margin-right: 60px;
        z-index: 1021;
    }

    .slick-prev:before,
    .slick-next:before {
        color: grey !important;
        font-size: 30px !important;
    }

    .carousel-wrapper {
        position: relative;
        width: 80%;
        /* padding: 0 1em; */
        box-sizing: border-box;
        /* margin-top: -2em; */
        justify-content: center;
        align-items: center;
    }

    .carousel-wrapper:active,
    .carousel-wrapper:hover,
    .carousel-wrapper:focus {
        outline: none;
        border: none;
    }

    .box {
        margin-top: 2em; /*this is where to fix the big screeen!!!!!! */
    }

    .slick-slider ul {
        list-style: none;
    }

    .crsltop {
        margin-right: -5em;
        margin-left: -5em;
    }

    /* .model {
        height: 65%;
    } */

    .box img {
        /* margin-bottom: -3em; */
        /* margin-top: 1em; */ /* this might need to be added!!!!!!!!! */
        /* width: 35%; */
    }

    .top-carousel-model {
        width: 25%;
    }

    .box h2 {
        /* margin: 0 1em 1em 1em; */
        font-size: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}


/* -------------------END image/link carousel------------- */
/* -------------------START features---------------------- */

.features {
    width: 100%;
    height: 30vh;
    margin-top: 2.5em;
    margin-bottom: 2em;
    border-top: 2px solid black;
    text-align: left;
}

.features h1 {
    font-size: 1em;
    width: 50%;
    margin-left: 25%;
    margin-left: 25%;
    margin-top: -11px;
    background: white;
    text-transform: uppercase;
    text-align: center;
}

.features h2 {
    font-size: 0.75em;
    text-transform: uppercase;
}

.features p {
    font-size: 0.25em;
    text-transform: capitalize;
}

.feature-wrapper {
    margin-top: 1em;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.small-square {
    width: 25%;
    height: 100%;
}

.small-square a,
.middle-square a {
    color: black;
    text-decoration: none;
}

.small-square img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.middle-square {
    width: 35%;
    height: 100%;
}

.middle-square img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

@media (min-width: 43.75em) {
    .features {
        height: 30vh;
        margin: 0;
    }

    .features h1 {
        font-size: 1.5em;
        width: 40%;
        margin-left: 30%;
        margin-left: 30%;
    }

    .features h2 {
        font-size: 1em;
    }

    .features p {
        font-size: 0.75em;
    }
}

@media (min-width: 62em) {
    .features {
        height: 32vh;
    }

    .feature-wrapper {
        margin-top: 2em;
        height: 88%;
    }

    .features h1 {
        font-size: 1.75em;
        width: 26%;
        margin-left: 37%;
        margin-left: 37%;
        margin-top: -18px;
    }

    .features h2 {
        font-size: 1.25em;
    }

    .features p {
        font-size: 1em;
    }
}

/* --------------------END features---------------------- */
/* -------------------START newsmakers roundup/transactions & transitions---------------------- */
.newsmakers-transactions {
    margin-top: 3em;
    margin-bottom: 1em;
}

.nm-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}

.nmcrsl,
.trcrsl {
    width: 100%;
    border-top: 2px solid black;
    text-align: center;
}

.nmcrsl {
    height: 38vh;
}

.trcrsl {
    height: 34vh;
}

.nmcrsl h1,
.trcrsl h1 {
    width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: -13px;
    background: white;
    font-size: 1em;
}

.nmcrsl a,
.trcrsl a {
    text-decoration: none;
    color: black;
}

.nmcrsl h2,
.trcrsl h2 {
    margin-top: -1em;
    font-size: 0.75em;
    text-transform: capitalize;
}

.nmcrsl p,
.trcrsl p {
    font-size: 0.5em;
    text-transform: capitalize;
}

.circular-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1em;
    margin-bottom: 1em;
}

.comingSoon {
    padding-top: 3em;
}

@media (min-width: 43.75em) {
    .nm-cards {
        margin-top: em;
    }

    .nmcrsl,
    .trcrsl {
        height: 25vh;
        margin-top: 1.5em;
    }

    .newsmakers-transactions {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
    }
}

@media (min-width: 56.25em) {
    .nmcrsl,
    .trcrsl {
        margin-bottom: 2em;
    }
}

@media (min-width: 62em) {
    .newsmakers-transactions {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .nm-cards {
        margin-top: 0;
    }

    .nmcrsl,
    .trcrsl {
        width: 48%;
        height: 33vh;
    }

    .nmcrsl h1 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1.25em;
    }

    .trcrsl h1 {
        width: 50%;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 1.25em;
    }

    .nmcrsl h2,
    .trcrsl h2 {
        font-size: 1.25em;
    }

    .nmcrsl p,
    .trcrsl p {
        font-size: 1em;
    }
}



/* -------------------END newsmakers roundup/transactions & transitions---------------------- */
/* -------------------START this issue/ last issue ---------------------- */

.ticrsl {
    width: 100%;
    height: 35vh;
    margin-bottom: 2em;
    border-top: 2px solid black;
    text-align: center;
}

.ticrsl h1 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -13px;
    background: white;
    font-size: 1em;
}

.ticrslwrapper {
    position: relative;
    /* box-sizing: border-box; */
}

.ticrslwrapper:active,
.ticrslwrapper:hover,
.ticrslwrapper:focus {
    outline: none;
    border: none;
}

.ti-box {
    margin-top: 1em;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ti-a,
.ti-b {
    text-decoration: none;
    color: black;
}

.ti-box h2 {
    font-size: 0.75em;
    overflow-wrap: normal;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

.ti-box p {
    font-size: 0.75em;
    text-transform: capitalize;
}

@media (min-width: 43.75em) {
    .ticrsl {
        height: 25vh;
        margin-bottom: 1em;
    }
}

@media (min-width: 56.25em) {
    .ticrsl {
        margin-bottom: 3em;
    }
}

@media (min-width: 62em) {
    .ticrsl {
        height: 33vh;
        margin-bottom: 4em;
    }

    .ticrsl h1 {
        width: 16%;
        margin-left: 42%;
        margin-right: 42%;
        margin-top: -18px;
        font-size: 2em;
    }

    .ticrsl h2 {
        font-size: 1.25em;
    }

    .ticrsl p {
        font-size: 1em;
    }

    .ti-a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/* -------------------END this issue/ last issue---------------------- */

/* -----------------------------------END HOME---------------------------------------------- */

/* -----------------------------------POINT-COUNTERPOINT---------------------------------------------- */

.pointcpContainer {
    position: relative;
    margin-bottom: 2em;
}

.pointContainer1,
.pointContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 52px;
    /* background-color: darkblue; */
    border-bottom: 2px solid black;
}

.pointContainer1 h2,
.pointContainer2 h2 {
    color: rgba(0, 59, 91);
}

.pointContainer2 {
    margin-bottom: 2em;
}

.pointcp1,
.pointcp2 {
    height: 65vh;
    margin-top: 2em;
    margin-bottom: 2em;
}

.pointcp3,
.pointcp4 {
    height: 65vh;
    margin-top: 2em;
    margin-bottom: 2em;
}

.pointcp1 {
    /* background-color: blueviolet; */
}

.pointcpContent {
    font-size: 1.25vw;
    margin-top: 1.25em;
    text-align: justify;
    height: 25vh;
}

.pointcp2 {
    /* background-color: coral; */
    align-content: right;
    text-align: right;
}

.pointcp3 {
    /* background-color: darkcyan; */
}

.pointcp4 {
    /* background-color: darkred; */
    align-content: right;
    text-align: right;
}

.pointTop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.pointTop2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.pointHeaderRight {
    position: relative;
}

.pointbottom {
    position: absolute;
    bottom: 7px;
}

.pointbottom2 {
    position: absolute;
    bottom: 7px;
    right: 0px;
}

.pointcpImage {
    width: 14vw;
    height: 14vw;
    object-fit: cover;
}

.pointVote1,
.pointVote2 {
    position: relative;
}

.pv2 {
    width: auto;
    position: absolute;
    right: 0px;
    text-align: right;
}
.pv1 {
    position: absolute;
    left: 0px;
}

.pv1,
.pv2 {
    margin-top: 1em;
    display: flex;
    transition: all 0.5s ease;
}

.pv1 h2,
.pv2 h2 {
    /* display: inline-block; */
    font-size: 2vw;
    width: 100%;
}

.pv1:hover,
.pv1:active,
.pv2:hover,
.pv2:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.boxGlove {
    width: 3.5vw;
    /* margin-top: -20em; */
}
.boxingButton {
    border: none;
    background: none;
}

.far {
    color: rgba(0, 0, 0, 0.5);
}
.newestCountdown {
    position: relative;
    text-align: center;
}
.countdownText h2 {
    position: absolute;
    bottom: 50px;
    left: 39%;

    /* width: auto; */
    /* margin-bottom: -10em; */
}

.countdownTrophyImg {
    width: 8%;
}

.trophyImg {
    width: 40%;
}

.winner {
    width: 20vw;
    display: flex;
    /* margin: 0 auto; */
    position: absolute;
    left: 39%;
    bottom: 0%;
    padding-bottom: 2em;
}

.winner h2 {
    color: black;
}

.winner h1 {
    color: rgb(0, 59, 91);
}

.trophyHeaders {
    text-align: center;
}

.linkToArchives {
    text-decoration: none;
    font-size: 1.5vw;
    color: rgb(0, 59, 91);
    transition: all 0.5s ease;
    margin: 1em;
}

.linkToArchives:hover,
.linkToArchives:active {
    font-size: 1.75vw;
    transform: translateY(-5px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.pointcpLinks {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    transition: all 0.5s ease;
    margin: 1em;
}

.pointcpLinks:hover,
.pointcpLinks:active {
    /* font-size: 1.55vw; */
    transform: translateY(-2px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 2px rgb(148, 146, 146);
}

/* -----------------------------------END POINT-COUNTERPOINT---------------------------------------------- */

/* -----------------------------------CATEGORIES---------------------------------------------- */

.category-show {
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
}

.category-show a {
    text-decoration: none;
    color: black;
}

.category-show img {
    width: 100%;
    object-fit: cover;
    margin: 1%;
    margin-top: 0;
    padding-right: 1em;
    float: left;
}

.category-show h1 {
    padding-top: 1%;
    font-size: 3vw;
    padding-left: 0.3em;
    text-transform: uppercase;
}

.category-show h4 {
    font-size: 1.4vw;
    color: rgba(0, 59, 91);
    text-transform: uppercase;
    padding-left: 0.72em;
    padding-bottom: 1%;
}

.category-header {
    float: left;
    width: 100%;
}

.category-header h1 {
    text-transform: uppercase;
}

.category-image {
    width: 12vw;
    border-right: solid black;
}

.category-image img {
    margin-top: 1em;
}

.tagline {
    border-bottom: solid black;
    width: 100%;
}

.category-show h5 {
    font-size: 1vw;
    padding-left: 1em;
    justify-content: left;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* -----------------------------------END CATEGORIES------------------------------------------- */

/* -----------------------------------START ABOUT US------------------------------------------- */

.about-us {
    text-align: justify;
    font-size: 2vw;
}

/* -----------------------------------END ABOUT US------------------------------------------- */

/* -----------------------------------START ARCHIVES------------------------------------------- */

.archive-header {
    width: 100%;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: solid 3px black;
    padding: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}

/* -----------------------------------END ARCHIVES------------------------------------------- */

/* -----------------------------------START PARTNERS------------------------------------------- */

.partners-header {
    width: 100%;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: solid 3px black;
    padding: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}

.partners-container {
    text-align: center;
}

.partners-container img {
    width: 50%;
    padding: 2%;
}

/* -----------------------------------END PARTNERS------------------------------------------- */

/* -----------------------------------Contact Us---------------------------------------------- */

.contact_us h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
}

.contact_us p {
    font-size: 2vw;
    text-align: justify;
    padding-top: 2%;
    padding-bottom: 2em;
}

.blackLine {
    border-bottom: solid 2px black;
    display: block;
    color: black;
    width: 100%;
}

/* -----------------------------------END Contact Us---------------------------------------------- */

/* -----------------------------------START OUR BOARD---------------------------------------------- */

.board {
    text-align: center;
    margin-bottom: 3em;
}

.board-header {
    width: 100%;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: solid 3px black;
    padding: 1.5em;
    margin-bottom: 2em;
}

.board-container {
    display: grid;
    grid-gap: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 0.75em;
    grid-auto-rows: 30em;
}

.individual {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.individual span {
    padding-bottom: 1em;
}

.individualImage {
    width: 16em;
    padding-bottom: 2em;
    object-fit: cover;
}

.boardname {
    text-transform: uppercase;
}

.popupbuttonboard {
    width: 200px;
    text-decoration: none;
    color: rgba(40, 115, 172);
    background-color: Transparent;
    border: none;
    font-size: 1.25em;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 2em;
}

.popupbuttonboard a {
    text-decoration: none;
    color: rgba(40, 115, 172);
}

.popupbuttonboard:hover,
.popupbuttonboard:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.boardpopup__left {
    visibility: hidden;
    display: none;
}

.boardpopup__right {
    width: 100%;
    /* float: right; */
    display: table-cell;
    vertical-align: middle;
    padding: 2em 2rem;
}

.boardpopup__right h1 {
    margin-bottom: 0.25em;
}

.boardpopup__right h2 {
    margin-bottom: 0.5em;
}

@media (min-width: 43.75em) {
    .board-header {
        margin-bottom: 2em;
    }

    .board-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 15em;

        align-content: space-evenly;
        /* min-height: 0; */
        overflow: hidden;
        /* position: relative; */
        font-size: 0.5em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .individual {
        padding: 1em;
        margin: 1em;
        grid-row: auto / span 2;
    }

    .boardpopup__left {
        height: 100%;
        width: 5%;
        font-size: 1em;
        visibility: visible;
        display: content;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba(40, 115, 172, 1) 0%,
            rgba(0, 59, 91, 1) 95%
        );
        display: table-cell;
        padding-left: 0.5em;
        padding-top: 7%;
    }

    .boardpopup__right {
        width: 70%;
        /* float: right; */
        display: table-cell;
        vertical-align: middle;
        padding: 2em 4rem;
        font-size: 1.5em;
    }
}

@media (min-width: 62em) {
    .board-container {
        font-size: 1em;
        grid-auto-rows: 10em;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .boardpopup__right {
        width: 70%;
        font-size: 1em;
    }

    .individual {
        grid-row: auto / span 2;
        position: relative;
    }

    .individualImage {
        width: 50%;
    }

    .popupbuttonboard {
        margin-top: 1.5em;
    }
}


/* -----------------------------------END OUR BOARD---------------------------------------------- */
/* -----------------------------------INDIVUAL POST PAGE---------------------------------------------- */

.individualPostDiv {
    border-bottom: solid 3px black;
    text-align: justify;
    margin-bottom: 1em;
}

.individualPostContent {
    margin: 2em 0 4em 0;
    line-height: 1.2;
    /* letter-spacing: 0.25px; */
    white-space: pre-line;
    font-size: 1.5vw;
}

.individualPostImage {
    width: 100%;
    height: 57vh;
    object-fit: cover;
    margin-top: 2em;
    margin-bottom: 2em;
}

.individualPostTitle,
.individualPostAuthor {
    text-transform: uppercase;
}

.loginReadMore {
    margin-top: -3em;
    padding-bottom: 3em;
}

.socialShare {
    float: right;
    margin-top: -3em;
}

.adminButtons {
    margin-bottom: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.2em;
}

.likeButton,
.dislikeButton {
    width: 2.5vw;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 1vw;
}

.likeButton:hover,
.likeButton:active,
.dislikeButton:hover,
.dislikeButton:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.articleLikes {
    margin-top: -2.5em;
}

.likeImage,
.dislikeImage {
    width: 100%;
}

/* -----------------------------------END INDIVUAL POST PAGE---------------------------------------------- */
/* -----------------------------------INDIVIDUAL CATEGORY PAGE---------------------------------------------- */

.categoryTopTwo {
    width: 100%;
    display: flex;
}

.categoryTopLeft {
    width: 49%;
    margin: 2em 1em 1em 0;
}

.categoryTopRight img,
.categoryTopLeft img {
    width: 100%;
    height: 41vh;
    object-fit: cover;
}

.categoryTopRight {
    width: 49%;
    margin: 2em 0 1em 1em;
}

.newestPostHeader {
    text-transform: uppercase;
}

.lightblueAuthor {
    text-transform: uppercase;
    color: rgba(0, 59, 91);
}

.categoryRemainingArticles {
    display: grid;
    grid-auto-rows: 23em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin: 2em 0;
}

.smallGrid {
    /* width: 30%; */
    /* margin: 1em; */
}

.smallGrid img {
    width: 100%;
    height: 36vh;
    object-fit: cover;
}

.somePosts {
    width: 100%;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.noPosts {
    width: 100%;
    height: 25vh;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    position: relative;
}

.noPosts h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* -----------------------------------END INDIVIDUAL CATEGORY PAGE---------------------------------------------- */

/* -----------------------------------AD SPACE---------------------------------------------- */

.main-bottom-ads {
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-bottom: 0.5em;
}

.ad-image1 {
    width: 90%;
    height: 250px;
    margin: 1em;
    object-fit: cover;
}

@media (min-width: 43.75em) {
    .main-bottom-ads {
        display: inline-block;
    }

    .ad-image1 {
        width: 45%;
        height: 250px;
        margin: 1em;
        object-fit: cover;
    }
}

@media (min-width: 62em) {
    .main-bottom-ads {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
        text-align: justify;
        display: inline-block;
    }

    .ad-image1 {
        width: 49%;
        height: 300px;
        margin: 0;
        object-fit: cover;
        text-align: justify;
    }
    .span-ad-image1 {
        margin-right: 1%;
    }

    .span-ad-image2 {
        margin-left: 1%;
    }
}



/* -----------------------------------END AD SPACE---------------------------------------------- */

/* -----------------------------------FOOTER---------------------------------------------- */

.footer-main {
    border: none;
    border-top: solid 3px black;
    width: 100%;
    text-align: center;
}

.footer-social-media-links {
    position: relative;
    margin-top: 1em;
}

.second-row-social-media {
    margin-top: 2em;
    margin-bottom: 1em;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    padding-bottom: 3em;
}

.smb-black {
    width: 30%;
    padding: 0 1em;
    transition: all 0.5s ease;
}

.smb-black:hover,
.smb-black:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px grey;
}

.footer {
    grid-column: full-start / full-end;
    flex: 6;
    color: black;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 0.5em;
    align-items: center;
}

.nav__link:link,
.nav__link:visited {
    margin-right: 2rem;
    margin-top: 1em;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    display: block;
}

.nav__link:hover,
.nav__link:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    border-radius: 0.25em;
}

.social-media-logo {
    width: 4%;
    margin: 0.5em;
    float: left;
}

.social-logos {
    margin-top: 1em;
    margin-left: 5.5em;
    margin-bottom: -2.5em;
}

.adminButton {
    /* all: unset; */
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 208, 2);
}

.social-media-logo:hover,
.social-media-logo:active,
.adminButton:hover,
.adminButton:active {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}

@media (min-width: 43.75em) {
    .nav__link:link,
    .nav__link:visited {
        font-size: 0.2em;
    }

    .second-row-social-media {
        left: 58%;
        padding-bottom: 2em;
    }

    .smb-black {
        width: 20%;
    }
}

@media (min-width: 62em) {
    .nav__link:link,
    .nav__link:visited {
        font-size: 1.3em;
    }

    .second-row-social-media {
        padding-top: 1.8em;
        margin-bottom: 1em;
        left: 50%;

        width: 35%;
    }
    .smb-black {
        width: 18%;
    }
}

@media (min-width: 80em) {
    .second-row-social-media {
        width: 30%;
    }
}



/* -----------------------------------END FOOTER---------------------------------------------- */

/* -----------------------------------HUBSPOT TIPS FORM---------------------------------------------- */

.hubspot-form-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* -----------------------------------END HUBSPOT TIPS FORM---------------------------------------------- */

@font-face {
    font-family: europaRegular;
    src: url("../fonts/EuropaRegular.ttf") format("truetype");
}

.postInput {
    margin: 5em;
}

.postForm {
    margin: 1em;
}
