*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* padding: 2em; */
    font-family: europaRegular;
}

/* -----------------------------------NAVBAR---------------------------------------------- */

.navbar {
    /* background-image: url("../images/blueBanner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */

    width: 100%;
    display: table;
    /* padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%; */
}

.nav-left {
    width: 5%;
    background-color: rgb(255, 208, 2);
    /* float: left; */
    display: table-cell;
}

.nav-right {
    width: 95%;
    background: linear-gradient(
        90deg,
        rgba(40, 115, 172, 1) 0%,
        rgba(0, 59, 91, 1) 59%
    );
    /* float: left; */
    display: table-cell;
    vertical-align: middle;
    padding: 2em 1rem;
    color: rgb(255, 208, 2);
    overflow: hidden;
}

.nav-header {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.nav-header h1 {
    /* margin-right: 2em; */
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    padding-left: 0.5em;
    letter-spacing: 0.05em;
}

.header-right {
    float: right;
    margin-top: -5%;
    /* padding: 2em; */
    margin-right: -19em;
}

.auth-buttons__yellow {
    /* margin: 0.5em; */
    /* padding: 0.5em; */
    width: 100px;
    color: rgb(255, 208, 2);
    background-color: Transparent;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
}
.auth-buttons__yellow a {
    text-decoration: none;
    color: rgb(255, 208, 2);
}

.divider {
    font-size: 1.15em;
}

/* -----------------------------------social media buttons---------------------------------------------- */
.social-media-buttons {
    /* display: flex;
    justify-content: space-between; */
    /* margin-right: 20em; */
}
.smb-yellow {
    width: 12%;
    padding: 0 1em;
}

/* -----------------------------------END social media buttons---------------------------------------------- */

/* -----------------------------------POP UP---------------------------------------------- */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup__content {
    width: 50%;
    height: 40rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    border-radius: 3px;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__close:link,
.popup__close:visited {
    color: #013b5a;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2.5em;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    line-height: 1;
}

.popup__close:hover {
    color: #3d99ca;
    font-size: 3em;
    transition: all 0.3s;
    text-shadow: 2px 2px 4px grey;
}

.popup__left {
    height: 100%;
    width: 33.33%;
    background-color: #013b5a;
    /* float: left; */
    display: table-cell;
}

.popup__right {
    width: 66.66%;
    /* float: right; */
    display: table-cell;
    vertical-align: middle;
    padding: 2em 4rem;
}

/* -----------------------------------END POP UP---------------------------------------------- */

/* -----------------------------------END NAVBAR---------------------------------------------- */

/* -----------------------------------START HOME---------------------------------------------- */

/* -----------------------------------START HOME/ LINKS BAR----------------------------------- */

.linksBar {
    padding: 2%;
    text-align: justify;
}

.linksBar a {
    color: black;
    text-decoration: none;
    padding-right: 2%;
}

.linksBar a:hover {
    text-decoration: underline;
}
/* -----------------------------------END HOME/ LINKS BAR----------------------------------- */

/* -----------------------------------END HOME---------------------------------------------- */

@font-face {
    font-family: europaRegular;
    src: url("../fonts/EuropaRegular.ttf") format("truetype");
}
